@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgb(22, 22, 22);
}

nav {
    position: absolute;
    height: 120px;
    width: 100%;
    z-index: 1000000000000;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 50px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    transition: 0.3s;
}

nav ul li a:hover {
    transition: 0.3s;
    color: #9BFF4D;
}

.nav-logo {
    width: 258px;
    height: 52px;
    margin-top: -13px;
}

.icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 2%;
    top: 38%;
}

.icons p {
    position: relative;
    top: 5px;
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}
.buy {
    color: white;
}
.container {
    position: relative;
    background: #aad5f6;
}

.slide-1 {
    background: url('../images/childhood.jpg');
}

.slide-2 {
    background: url('../images/silverskulls.jpg');
}

.slide-3 {
    background: url('../images/candypack.jpg');
}

.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.caption h3 {
    color: #fff;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 150px;
    line-height: 100px;
    padding: 18px;
}

.caption p {
    max-width: 700px;
    width: 90%;
    margin-top: 15px;
    margin-left: 20px;
    color: #F5F5F5;
    text-align: left;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    transform: background 500ms;
}

.arrow img {
    width: 50px;
}

.arrow:hover {
    background: rgba(0, 0, 0, .4);
}

.l {
    left: 2%;
}

.r {
    right: 2%;
}

.icons img {
    padding: 0px 7px;
    height: 33px;
    width: 33px;
}

@media(max-width:900px) {
    nav ul {
        float: left;
        position: relative;
        left: 3%;
    }
}

@media(max-width:700px) {
    nav ul li a {
        font-size: 15px;
    }

    nav ul li {
        padding: 40px 10px;
    }

    .nav-logo {
        width: 200px;
        margin-top: -15px;
    }
}

.buyform {
    position: absolute;
    right: 6%;
    display: flex;
    flex-direction: column;
    width: 510px;
    height: 460px;
    background: rgba(60, 60, 60, 0.82);
    border-radius: 27px;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
}

.buyform h1 {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.04em;
    background: linear-gradient(135deg, #FDEB71 0%, #F8D800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 800;
    font-size: 81px;
    margin-top: 70px;
}

.buyform input {
    background: #FFFFFF;
    border-radius: 23px;
    border: none;
    width: 260px;
    height: 90px;
    font-size: 60px;
    font-family: 'Work Sans';
    display: flex;
    text-align: center;
    outline: none;
    margin-top: 70px;
}

.buyform button {
    color: white;
    background: none;
    border: none;
    font-size: 48px;
    font-family: 'Work Sans';
    margin-top: 10px;
    cursor: pointer;
    transition: .2s;
}

.caption {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 6%;
}

@media(max-width:1400px) {
    .caption {
        left: 50%;
        transform: translate(-50%);
        top: 20%;
    }

    .buyform {
        left: 50%;
        transform: translate(-50%);
        top: 80%;
        margin-bottom: 200px;
    }

    .caption h3 {
        text-align: center;
    }

    body {
        margin-bottom: 100px;
    }

    .caption p {
        text-align: center;
    }
}

@media(max-width:900px) {
    .caption {
        top: 12%;
    }

    .caption h3 {
        font-size: 100px;
        line-height: 40px;
    }

    .caption p {
        font-size: 25px;
        text-align: center;
    }

    .buyform {
        top: 60%;
        width: 400px;
        height: 400px;
    }

    .buyform h1 {
        font-size: 60px;
    }

    .buyform button {
        font-size: 35px;
    }
}